<!-- xxx Loader Start xxx -->
<div id="pageloader">
    <div class="loader-item">
        <img src="{{ asset('site-loader.gif') }}" alt='loader' />
        <div>Chargement...</div>
    </div>
</div>
<!-- xxx End xxx -->

<!-- xxx Header xxx -->
<header>

    <!-- xxx Logo And Navigation xxx -->
    <div id="nav-wrap">
        <div class="nav-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="main-menu" class="menuzord">
                            <a href="{{ path('ikinoa.page') }}" class="menuzord-brand m10"><img height="70px" src="{{ asset('webzy-by-ikinoa.png') }}" alt="Logo {{ _data.setting.name }} et ikinoa"></a>
                            <ul class="menuzord-menu mt10 mb10">
                                <li>
                                    <a href="{{ path('ikinoa.page') }}#price-section">Tarif</a>
                                </li>
                                <li>
                                    <a href="{{ path('ikinoa.page.theme') }}">Thèmes</a>
                                </li>
                                <li class="pull-right"><a class="btn-round-bg text-white" href="{{ path('ikinoa.page.theme') }}">Créer mon site</a></li>
                                {% if session._admin_logged_ == true %}
                                    <li class="pull-right">
                                        <a href="{{ path('admin.home') }}">Admin</a>
                                    </li>
                                {% else %}
                                    <li class="pull-right">
                                        <a href="{{ path('admin.home') }}">Connexion</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- xxx Logo and Navigation End xxx -->
</header><!-- xxx Header End xxx -->