{% extends "default_layout.html.twig" %}
{% import 'Macros/message.html.twig' as form %}

{% block css %}
    <style>
        .blog-bg{
            min-height: 800px;
            padding: 80px 0;
        }
        .image.breadcrumb-wrap{
            background-image:url({{ asset('photo-header.png') }});
            background-position: 50% 0 !important;
        }
        .breadcrumb-wrap p{
            line-height: initial;
        }
        .breadcrumb-wrap h1:after{
            content: none !important;
        }
    </style>
{% endblock %}

{% block body %}

    <!-- xxx Breadcrumns Wrap xxx -->
    <section class="fullscreen background parallax image breadcrumb-wrap blog-bg" data-img-width="1600" data-img-height="1067" data-diff="100">
        <div class="pull-left left-align m40 p40">
            <p class="fz2 mb20">Mettez en ligne votre évènement sportif<br/> en créant votre propre site.</p>
            <div class="head p40 mt40"><h1 class="fz3 mb0">Un événement sportif,<br/>Un site web.</h1></div>
            <div class="mt40 center-align">
                <a class="btn-square-icon btn-large" href="{{ path('ikinoa.page.theme') }}">Créer mon site</a>
            </div>
        </div>
    </section><!-- xxx Breadcrumns Wrap End xxx -->

    <!-- Main Bodycontent Start -->
    <div class="pt0">
        <section class="callout-4">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">Vous souhaitez tester gratuitement notre service durant 15 jours</div>
                    <div class="col-sm-4 text-right">
                        <a href="{{ path('ikinoa.page.theme') }}" class="btn-square-icon btn-medium"> Cliquez ici</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="fullscreen no-pad inner-white">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-5 hidden-xs">&nbsp;
                        <img src="{{ asset('callout-img.png') }}" alt="ecran-site-demo" class="mt10">
                    </div>
                    <div class="col-sm-7">
                        <div class="heading-main mt40 pt40">
                            <h1>Pourquoi choisir {{ _data.setting.name }} ?</h1>
                            <p class="fz20 mt40">{{ _data.setting.name }} est un générateur de site web nouvelle génération. </p>
                            <p class="fz20">Notre plateforme s'adapte à vos activités et vous propose une multitude de thèmes spécifiques.</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="mt40 mb40 pb20 pt20">
            <div class="container">
                <div class="row smart-mar">
                    <div class="col-md-3 col-sm-6">
                        <div class="top-icons">
                            <div class="icon-big">
                                <i class="fa fa-laptop"></i>
                            </div>
                            <h3>Design</h3>
                            <p>Un choix à faire parmi plusieurs thèmes graphiques divers et variés</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="top-icons">
                            <div class="icon-big">
                                <i class="fa fa-code"></i>
                            </div>
                            <h3>Technique</h3>
                            <p>Notre solution est pleinement compatible tablette et mobile et s’installe très rapidement</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="top-icons">
                            <div class="icon-big">
                                <i class="fa fa-diamond"></i>
                            </div>
                            <h3>Moderne</h3>
                            <p>Prise de RDV, lien réseaux sociaux, insertion vidéos…plus de 30 fonctionnalités à découvrir</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="top-icons">
                            <div class="icon-big">
                                <i class="fa fa-smile-o"></i>
                            </div>
                            <h3>Pratique</h3>
                            <p>Une équipe de 4 personnes à votre écoute toute l’année et une documentation détaillée</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="price-section" class="mt40 mb40 pt40 pb40 inner-white">
            <div class="container">
                <div class="row">
                    <div class="heading-main">
                        <h1>Notre tarif</h1>
                        Essayez {{ _data.setting.name }} gratuitement pendant 15 jours - sans engagement - sans carte de crédit
                    </div>
                    <div class="col-md-6">
                        <div class="pricing-box">
                            <div class="head">
                                Standard
                            </div>
                            <div class="pricing">
                                {{ price.default.amount }} <i class="fa fa-{{ price.default.currency }}"></i><span> / Mois</span>
                            </div>
                            <ul class="list-detail">
                                <li>Site responsive</li>
                                <li>Plusieurs modules gratuits</li>
                                <li>Aucune publicité</li>
                                <li>Assistance premium</li>
                            </ul>

                            <a href="{{ path('ikinoa.page.theme') }}" class="btn-round-bg btn-medium">Créer mon site</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2 class="center-align mb40">Payez en toute sécurité</h2>
                        <div class="icon-white-bg center-align mt10 mb20">
                            <h3>Un système de paiement 100% sécurisé</h3>
                            <img src="{{ asset('secure.jpg') }}" alt="Paiement sécurisé">
                        </div>
                        <div class="icon-white-bg center-align mt20 mb10">
                            <h3>Nous acceptons les paiements suivants :</h3>
                            <img src="{{ asset('payment-stripe.png') }}" alt="Paiement par carte bleue et stripe">
                        </div>
                        <p class="mt20">Les prix affichés n'incluent pas la TVA définie en fonction du pays de facturation de l'utilisateur.
                            Le prix définitif sera visible sur la page d'achat, avant la validation du paiement.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="home-pad mb40 pt0 pb40">
            <div class="container">
                <div class="heading-main">
                    <h1>Nos derniers thèmes</h1>
                    Parcourez tous nos thèmes de sites à personnaliser
                </div>
                <div id="js-grid-awesome-work" class="cbp cbp-l-grid-work">
                    {% for theme in themes %}
                        {% if theme.website.domain|slice(0, 4) == 'http' %}
                            {% set theme_path = theme.website.domain %}
                        {% else %}
                            {% set theme_path = path ~ theme.website.domain %}
                        {% endif %}
                        <div class="cbp-item">
                            <a href="{{ path('public.preview') }}?template_id={{ theme.id }}&template_path={{ theme_path }}" target="_blank" class="cbp-caption" data-title="{{ theme.name }}">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="{{ asset(theme.thumbnail.path) }}" alt="{{ theme.thumbnail.alt }}" style="height:170px;">
                                </div>
                            </a>
                            <a href="{{ path('public.preview') }}?template_id={{ theme.id }}&template_path={{ theme_path }}" target="_blank" class="cbp-l-grid-work-title">{{ theme.name }}</a>
                            <div class="cbp-l-grid-work-desc">
                                <a href="{{ path('public.preview') }}?template_id={{ theme.id }}&template_path={{ theme_path }}" target="_blank" class="btn-round-bg btn-medium"><i class="fa fa-eye"></i> Démo</a>
                                <a href="{{ path('public.registration', {'theme_id' : theme.id}) }}" class="btn-round-bg btn-medium"><i class="fa fa-check"></i> Sélectionner</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                 <div class="cbp-l-loadMore-button">
                     <a href="{{ path('ikinoa.page.theme') }}" class="cbp-l-loadMore-link">
                         <span class="cbp-l-loadMore-defaultText">Voir plus</span>
                     </a>
                 </div>
            </div>
        </section>
        <section class="home-pad inner-white">
            <div class="container">
                <div class="heading-main mb40 pb20">
                    <h1>Regarder la vidéo de présentation</h1>
                </div>
                <div class="row">
                    <div class="col-md-6 center-align mt20">
                        <div class="heading-main">
                            <h2>Vous êtes entrepreneur et vous voulez partager votre projet sur internet ?</h2>
                            <p class="mt40">Ne vous limitez plus par manque de moyen ou de savoir-faire.</p>
                            <p>{{ _data.setting.name }}  vous aide à créer simplement un site professionnel pour la mise en place de votre projet.</p>
                            <p>Créez le site qui vous ressemble grâce à notre plateforme simple et intuitive. Proposez vos services en ligne en choisissant parmi nos nombreuses fonctionnalités.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-center">
                            <div>
                                <iframe width="100%" height="315" src="https://www.youtube.com/embed/HOOepHfFBoY" frameborder="0" allowfullscreen></iframe>
                                <!-- video-box -->
                                <div class="video-box">
                                    <!-- close-video -->
                                    <div class="close-video">
                                        <i class="fa fa-times"></i>
                                    </div><!-- /close-video -->
                                </div><!-- /video-box -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
{% endblock %}
